<h3>List of User</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Content</th>
        <th scope="col">User Id</th>
        <th scope="col">Post Id</th>
        <th scope="col">Created At</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% if @comments.count > 0 %>
        <% @comments.each do |u| %>
          <tr>
            <th scope="row"><%= u.id %></th>
            <td><%= u.content %></td>
            <td><%= u.user_id %></td>
            <td><%= u.post_id %></td>
            <td><%= u.created_at %></td>
            <td><%= link_to 'Show', admins_comment_path(u), method: :get %> | <%= link_to 'Edit', edit_admins_comment_path(u) %> | <%= link_to 'Delete', admins_comment_path(u),method: :delete %> </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="6">No one comment .</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

