<div id="comment_<%=comment.id%>">
	<b><%= comment.user.full_name %></b> <span id="edit_cmt_<%= comment.id%>"><%= comment.content.gsub(/\n/, ' ') %></span>
  <% if current_user.id == comment.user.id || comment.post.user == current_user%>	
    <div class="dropdown float-right options-comment">
      <a data-toggle="dropdown" href="">
        <i class="fa fa-ellipsis-h"></i>
      </a>
  	  <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    			<% unless comment.post.user == current_user && comment.user != current_user %>  
            <% if only_delete == false %> 
              <%= link_to "Edit", edit_post_comment_path(comment,comment), class: "dropdown-item", "data-toggle": "modal" ,"data-target": "#editmycmt_#{ comment.id }" %>
            <% end %>
          <% end %>
  	    	<%= link_to "Delete", post_comment_path(comment,post_id: comment.post_id), class: "dropdown-item",
  	    							method: :delete, data: {confirm: "Are you sure?"}, remote: true%>
      </div>
  	</div>
  <% end %>
	<br>
</div>

<div class="modal fade" id="editmycmt_<%= comment.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Edit Comment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <%= simple_form_for(comment, url: post_comment_path(comment.post, comment),remote: true) do |f| %>
        <div class="modal-body">
					<%= f.input :content ,label: false %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<%= f.submit :Comment ,:class => "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>