<div class="form-devise">
  <div class="article container-fluid">
    <div class="row">
      <div class="phone-slide col-lg-6 d-lg-block d-none">
        <%= image_tag 'iphone.png', class: 'phone-image' %>
        <div class="slide-image " >
          <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag 'slide-1.jpg', class: 'd-block' %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'slide-2.jpg', class: 'd-block' %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'slide-3.jpg', class: 'd-block' %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'slide-4.jpg', class: 'd-block' %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'slide-5.jpg', class: 'd-block' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-column col-10 col-sm-8 offset-sm-2 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-0">
        <div class="form-wrapper">
          <div class="big-screen-form">
            <div class="d-flex justify-content-center align-items-center">
                <%= image_tag 'logo.png', class: 'logo-form'%>
                <h2 class="text-uppercase font-weight-bold title-form">Vinogram</h2>
            </div>
            <br>
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-inputs">
                  <%= f.input :email, required: false, label: false, placeholder: 'Email người dùng' %>
                  <div class="d-flex justify-content-end align-items-center small-link">
                    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                      <%= link_to "Quên mật khẩu?", new_password_path(resource_name) %><br />
                    <% end -%>
                  </div>
                  <%= f.input :password, required: false, label: false, placeholder: 'Mật khẩu' %>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="form-actions">
                    <%= f.button :submit, "Đăng nhập", class: 'btn btn-primary btn-devise' %>
                  </div>
                </div>
              <% end %>
            <br>
          </div>
          <div class="big-screen-signup-link text-center">
            <span>Bạn không có tài khoản? </span><%= link_to "Đăng ký", new_user_registration_path%><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
