<section class="header">

  <div class="row">
    <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-4 offset-lg-1 offset-xl-2">
      <div class="avatar_img mr-md-2 ml-lg-2">
       <%= image_tag (@user.avatar.url),id: 'blah'%> 
     </div>
    </div>
     <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-6">
      <div class="d-flex flex-column flex-md-row justify-content-md-start">
        <div class="mr-md-2">
          <h4 class="name_field"><%= @user.full_name%></h4>
        </div> 
        <div class="mr-md-2">
          <div class="edit_profile_link">
            <%if current_user.followings.where(following: @user).any? %>
              <%if current_user.followings.where(following: @user).last.status == 'pending' %>
                <%= link_to 'Pending', edit_user_path(@user), class: 'button', method: :put%>
              <%else %>
                <%= link_to 'Following', destroy_following_user_path(@user), class: 'button', method: :delete%>
              <%end%>
            <%else%>
              <%= button_to 'Follow', follow_user_path(@user), class: 'button button-following', method: :put, id: "user_follow_" + @user.id.to_s , remote: true%>
            <%end%>
          </div>
        </div>  
     </div>
      <div class="info d-flex flex-column flex-md-row justify-content-md-start">
        <div class="mx-auto mx-md-0 mr-md-2"><strong><%=@user.posts.count%></strong> posts</div>
        <div class="mx-auto mr-md-2"><strong><%= @user.followers.count %></strong> follower</div>
        <div class="mx-auto"><strong><%= @user.followings.count %></strong> following</div>
      </div>
      <div class="d-flex flex-row ">
        <span class="info_description">
          <strong><%= @user.email%></strong>
          <%if @user.description%> 
            : <%= @user.description%>
          <%end%>
        </span>
      </div>
    </div>
  </div>

</section>