<div class="col-8 offset-2">
	<div class="card">
		<div class="row">
			<div class="col-sm-2">
            <%= image_tag current_user.avatar.url , :class => "img-thumbnail img-circle"%></a>
      </div>
			<div class="col-sm-10">
				<div class="card-body">
					<%= form_for @post do |f| %>
						<div class="form-group">
						  <%= f.text_area :content , class: "form-control" %>
						</div>
						
					  <%= f.fields_for :pictures do |pic| %>
					    <%= render 'picture_fields', f: pic %>
					  <% end %>
					  <div class="links">
					    <%= link_to_add_association 'add', f, :pictures %>
					  </div>
					  <%= f.submit %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
