<div class="form-create-post">
	<div class="modal fade" id="editPost_<%=post.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<%= form_for(post,:method => :put) do |f| %>
	      		<div class="field">
	            <%= f.label :content %><br>
	            <%= f.text_area :content, class: "form-control "%>
	          </div>
	          <br>
          	<div class="row" id="edit-cocoon">
				      <%= f.fields_for :pictures do |pic| %>
				        <%= render 'picture_fields', :f => pic %>
				      <% end %>
					      <!-- TODO EDIT VIDEO -->
<!-- 					    <div id="video-edit-container" class="d-none video-container">
								<video id="edit-video" controls class="show-video">
									<source type="video/mp4"> 
								</video>
							</div> -->
							<br>
					    <div class='links'>
						  	<%#= f.file_field :attachment,id: "file-to-upload-edit" , class: "d-none", accept: 'video/mp4' %>
		    				<%= link_to_add_association ('<button type="button" class="btn btn-default btn-upload-img-edit" data-post-id="' + post.id.to_s + '"><i class="fa fa-camera"></i></button>').html_safe, f, :pictures, id: 'link-edit_'+ post.id.to_s %>
						    <!-- <button type="button" class="btn btn-default" id="upload-button-edit" ><i class="fa fa-video-camera"></i><label class="text-right"></label></button> -->
		    			</div>
				    </div>
							
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      			<%= submit_tag "Save changes", class: "btn btn-primary" %>
	      		</div>
	      	<% end %>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<script type="text/javascript">


	// var _EDIT_VIDEO = document.querySelector("#edit-video");
	
	// document.querySelector("#upload-button-edit").addEventListener('click', function() {
		
	// 	document.querySelector("#file-to-upload-edit").click();

	// });
	
	// document.querySelector("#file-to-upload-edit").addEventListener('change', function() {
	// 	// Object Url as the video source
	// 	document.querySelector("#edit-video source").setAttribute('src', URL.createObjectURL(document.querySelector("#file-to-upload-edit").files[0]));
		
	// 	// Load the video and show it
	// 	$('#video-edit-container').removeClass('d-none');
	// 	$('.image_uploader').val(null);
	// 	$('.nested-fields').addClass('d-none');
	// 	_EDIT_VIDEO.load();
	// 	_EDIT_VIDEO.style.display = 'inline';
	// });

	// document.querySelector("#btn-upload-img-edit").addEventListener('click', function() {
	// 	document.getElementById('file-to-upload-edit').value = '';
	// 	$("#video-edit-container").addClass('d-none');
	// });
</script>