<section>
	<div class="row">
		<div class="col-lg-8 offset-lg-2 col-10 offset-1 ">
			<div class="card">
				<div class="card-body form-show-post">
					<header class="row">
						<div class="col-sm-2 col-md-2 col-lg-1 col-2">
							<div class="thumbnail profile-post">
								<%= image_tag post.user.avatar.url, :alt => "rss feed", :class => "img-thumbnail img-fluid rounded-circle rounded "%>
							</div>
			      </div>
						<div class="col-sm-10 col-md-10 col-lg-11 col-10">
							<%= link_to post.user.full_name, user_path(post.user), :class => "name-user", :'data-toggle' => :tooltip, :title => post.created_at.strftime("At %r")%>
							<% if post.user == current_user %>
								<div class="nav-item dropdown float-right">
							    <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">...</a>
							    <div class="dropdown-menu">
							    	<%= link_to "Edit", edit_post_path(post), class: "dropdown-item" %>
							    	<%= link_to "Delete", post_path(post), class: "dropdown-item",method: :delete, data: {confirm: "Are you sure?"}%>
							    </div>
							  </div>
							<% end %>
						</div>
					</header>
					<%= render 'show_img_video', post: post %>
					<section class="like_and_cmt">
						<br>
						<% if post.liking_users.include? current_user %>
							<%= link_to "<i class='fa fa-heart fa-2x heart_#{post.id}'></i>".html_safe, post_likes_path(post), method: :post , remote: true%>
						<% else %>
							<%= link_to "<i class='fa fa-heart-o fa-2x heart_#{post.id}'></i>".html_safe, post_likes_path(post), method: :post , remote: true%>
						<% end %>
						<%= link_to "<i class='fa fa-comment-o fa-2x icon-comment'></i>".html_safe, "#", id: "icon_cmt_#{post.id}", "data-post-id": "#{post.id}" %>
						<%= link_to "<i class='fa fa-bookmark-o fa-2x float-right'></i>".html_safe%>
					</section>
					<section class="count_like">
						<a href="#"><b id="count_like_post_<%=post.id%>"><%= post.likes.count%>
							<% if post.likes.count >= 2%>
								likes
							<% else %>
								like
							<% end %>
						</b></a>
					</section>
					<% if post.content.present? %>
						<section class="content_post">
							<p><b><%= post.user.full_name %></b> <%= post.content.truncate(100) %></p>
						</section>
					<% end %>
					<% if post.comments.present? %>	
						<section class="all_comments_<%=post.id%>">
							<% if post.comments.count > 4%>
								<div class="view-all-comment"><%= link_to "View all comments", post_path(post) %></div>
								<% post.comments.last(4).each do |comment| %>
									<%= render "posts/comments/comment", comment: comment %>
								<% end %>
							<% else %>
								<% post.comments.each do |comment| %>
									<%= render "posts/comments/comment", comment: comment %>
								<% end %>	
							<% end %>	
						</section>
					<% end %>
					<p class="text-time-post"><%= link_to "#{time_ago_in_words(post.created_at)} ago", post_path(post) %></p>
					<hr>
					<section class="create_comment">
						<%= simple_form_for post.comments.build ,url: post_comments_path(post), html: {id: "myForm_#{post.id}"} , method: :post, remote: true do |form| %>
							<div class="comment-form ">
								<form class="form-inline">
									<div class="form-group">
										<%= form.input :content ,placeholder: 'Add a comment...',label: false, input_html: { class: 'content-comment', id: "myInput_#{post.id}" }, row: 5 %>
										<%= form.submit "submit", class: "d-none" ,id: "submit_comment_#{post.id}"%>
									</div>
								</form>
							</div>
						<% end %>
					</section>
				</div>
			</div>
		</div>
	</div>
</section>
<br>

<script type="text/javascript">
	$('.carousel').carousel({
    interval: false
	}); 

	var input = document.getElementById("myInput_<%=post.id%>");
	if (input) {
		input.addEventListener("keyup", function(event) {
		    event.preventDefault();
		    if (event.keyCode === 13) {
		        document.getElementById("submit_comment_<%=post.id%>").click();
		    }
		});
	}



</script>