<div class="container-fluid index_main">
	<% if params[:index_page] == "true" %>
		<%= render 'post', post: @post, showallcmt: true %>
	<% else %>
		<%= render 'users/posts/modal_post' , post: @post %>
	<% end %>
</div>
<script type="text/javascript">
	$('.js-comment').click(function(){
			var post_id = '#myInput_' + $(this).data('post-id');
			console.log(post_id);
			setTimeout(function() {
				$('.index_main').find(post_id).focus();
			}, 100);
			// $(this).closest('.card').find('.content-comment').focus();
		});
	var input = document.getElementById("myInput_<%=@post.id%>");
	if (input) {
		input.addEventListener("keyup", function(event) {
		    event.preventDefault();
		    if (event.keyCode === 13) {
		        document.getElementById("submit_comment_<%=@post.id%>").click();
		    }
		});
	}
   if (<%=params[:page_user]%> == true){
		$('#postModal').modal('show');
	  $('#postModal').on('hidden.bs.modal', function () {
	  	window.location.replace("<%= user_path(@post.user)%>");
		});
		$('.options-comment').addClass('d-none');
		$('.btn-Options').click(function(){
			$('#option-post').modal('hide');
			$('.options-comment').removeClass('d-none');
		});
	}
</script>