<div class="navbar_users">
  <nav class="navbar fixed-top navbar-expand-lg bg-light">
    <div class="container">
      <div class="mr-auto">
        <%= image_tag 'logo.png', class: 'logo_img'%>
        <h2 class="navbar-brand brand">Vinogram</h2>
      </div>     
      <div class="m-auto">
        <form class="form-inline my-2 my-md-0">
          <input class=" input_control navbar_input" type="text" placeholder="Search" aria-label="Search" >
        </form>
      </div>
      <ul class="navbar-nav ml-auto navbar_icon">

        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-sun-o" aria-hidden="true"></i></a>
        </li>

        <!-- dropdown notificaiton-->
        <li class="nav-item demo dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu notification">

            <li>
              <div class="row">
                <div class="col-md-2">
                  <%= image_tag 'default_images.jpeg', class: 'norification_img'%>
                </div>
                <div class="col-md-8" >
                  Heo Map Map liked this post.
                </div>
                <div class="col-md-2" >
                  <%= image_tag 'default_images.jpeg', class: 'norification_img'%>
                </div>
              </div>
            </li>

            <hr>

            <li>
              <div class="row">
                <div class="col-md-2">
                  <%= image_tag 'default_images.jpeg', class: 'norification_img'%>
                </div>
                <div class="col-md-8" >
                  Heo Map Map liked this post.
                </div>
                <div class="col-md-2" >
                  <%= image_tag 'default_images.jpeg', class: 'norification_img'%>
                </div>
              </div>
            </li>
          </ul>

        </li>
        
        <!-- -->
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-user-o" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>

  </nav>
</div>


