<!DOCTYPE html>
<html>
  <head>
    <title>Vinogram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag 'logo.png' %>
    <%= stylesheet_link_tag    'cms', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'cms', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <% if controller_name == "dashboards" %>
      <%= render 'layouts/navbar_dashboards' %>
    <% end %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-3 col-xl-2 p-0">
          <%= render 'layouts/sidebar' %>
        </div>
        <div class="col-9 col-xl-10 ">
          <%= yield %>
        </div>
      </div>
    </div>
    <% if controller_name != 'sessions'%>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
